<div class="menu-modal p-2">
  <div class="menu-modal-content">
    <h1>{{ gameService.winState() ? 'MISSION ERFOLGREICH' : 'ORBITAL EVOLUTION' }}</h1>
    @if (gameService.winState()) {
      <p class="hyper-jump-text">Du bist sicher in den Hyperraum gesprungen!</p>
    }
    <div class="scores">
      <p class="score-display">Letzter Score: {{ gameService.lastScore() | number:'1.0-0' }}</p>
      <p class="score-display high">Bester Score: {{ gameService.highScore() | number:'1.0-0' }}</p>
    </div>
    <div class="d-flex flex-column justify-conten-center">

      <button tabindex="0" class="start-btn fw-bold"
              (click)="startGame()">
        {{ gameService.winState() ? 'NEUER START' : 'START' }}
      </button>

      <button class="start-btn fw-bold" routerLink="">INTRO</button>

      <button class="start-btn fw-bold text-nowrap" (click)="gameService.toggleInversion()">
        {{ gameService.isColorsInverted ? 'Dark-Mode' : 'Light-Mode' }}
      </button>
      <div class="music-box fw-bold">
        <mat-slide-toggle
          (toggleChange)="musicservice.isMusicOn() ?  musicservice.stopMusic() : musicservice.startAutoplay()"
          [checked]="musicservice.isMusicOn()"
          labelPosition="before">
          <span class="fw-bold me-2">
          SOUND {{ musicservice.isMusicOn() ? 'ON' : 'OFF' }}
            </span>
        </mat-slide-toggle>
      </div>
      <button class="mt-2 w-100" mat-icon-button
              (click)="clearHighScore()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
